@charset "UTF-8";
/* 공통 */
/* colors */
.fc_key {
  color: #81D8CF;
}

.bg_key {
  background-color: #81D8CF;
}

.fc_key2 {
  color: #8EDDD5;
}

.bg_key2 {
  background-color: #8EDDD5;
}

.fc_key3 {
  color: #9BE1DA;
}

.bg_key3 {
  background-color: #9BE1DA;
}

.fc_key4 {
  color: #B5E9E4;
}

.bg_key4 {
  background-color: #B5E9E4;
}

.fc_key5 {
  color: #89fef2;
}

.bg_key5 {
  background-color: #89fef2;
}

.fc_line {
  color: #DDDDDD;
}

.bg_line {
  background-color: #DDDDDD;
}

.fc_bg {
  color: #F9F9F9;
}

.bg_bg {
  background-color: #F9F9F9;
}

.fc_bg_grey {
  color: #EFEFEF;
}

.bg_bg_grey {
  background-color: #EFEFEF;
}

.fc_bg_grey2 {
  color: #f4f4f4;
}

.bg_bg_grey2 {
  background-color: #f4f4f4;
}

.fc_blue {
  color: #0085FF;
}

.bg_blue {
  background-color: #0085FF;
}

.fc_navy {
  color: #005AAD;
}

.bg_navy {
  background-color: #005AAD;
}

.fc_sky {
  color: #a1b9ff;
}

.bg_sky {
  background-color: #a1b9ff;
}

.fc_red {
  color: #FF5C5C;
}

.bg_red {
  background-color: #FF5C5C;
}

.fc_red2 {
  color: #e51818;
}

.bg_red2 {
  background-color: #e51818;
}

.fc_lblue {
  color: #63c1fc;
}

.bg_lblue {
  background-color: #63c1fc;
}

.fc_orange {
  color: #FF7A00;
}

.bg_orange {
  background-color: #FF7A00;
}

.fc_green {
  color: #3b855d;
}

.bg_green {
  background-color: #3b855d;
}

.fc_green2 {
  color: #48a171;
}

.bg_green2 {
  background-color: #48a171;
}

.fc_yellow {
  color: #ffc107;
}

.bg_yellow {
  background-color: #ffc107;
}

.fc_purple {
  color: #8856f3;
}

.bg_purple {
  background-color: #8856f3;
}

.fc_lightGrey {
  color: #aaa;
}

.bg_lightGrey {
  background-color: #aaa;
}

.fc_midGrey {
  color: #777;
}

.bg_midGrey {
  background-color: #777;
}

.fc_solidGrey {
  color: #393939;
}

.bg_solidGrey {
  background-color: #393939;
}

.fc_grey {
  color: #999;
}

.bg_grey {
  background-color: #999;
}

.w_10 {
  width: 10px;
  max-width: 100%;
}

.mw_10 {
  width: 10px;
  max-width: 100%;
}

.h_10 {
  height: 10px;
}

.w_20 {
  width: 20px;
  max-width: 100%;
}

.mw_20 {
  width: 20px;
  max-width: 100%;
}

.h_20 {
  height: 20px;
}

.w_30 {
  width: 30px;
  max-width: 100%;
}

.mw_30 {
  width: 30px;
  max-width: 100%;
}

.h_30 {
  height: 30px;
}

.w_40 {
  width: 40px;
  max-width: 100%;
}

.mw_40 {
  width: 40px;
  max-width: 100%;
}

.h_40 {
  height: 40px;
}

.w_50 {
  width: 50px;
  max-width: 100%;
}

.mw_50 {
  width: 50px;
  max-width: 100%;
}

.h_50 {
  height: 50px;
}

.w_60 {
  width: 60px;
  max-width: 100%;
}

.mw_60 {
  width: 60px;
  max-width: 100%;
}

.h_60 {
  height: 60px;
}

.w_70 {
  width: 70px;
  max-width: 100%;
}

.mw_70 {
  width: 70px;
  max-width: 100%;
}

.h_70 {
  height: 70px;
}

.w_80 {
  width: 80px;
  max-width: 100%;
}

.mw_80 {
  width: 80px;
  max-width: 100%;
}

.h_80 {
  height: 80px;
}

.w_90 {
  width: 90px;
  max-width: 100%;
}

.mw_90 {
  width: 90px;
  max-width: 100%;
}

.h_90 {
  height: 90px;
}

.w_100 {
  width: 100px;
  max-width: 100%;
}

.mw_100 {
  width: 100px;
  max-width: 100%;
}

.h_100 {
  height: 100px;
}

.w_110 {
  width: 110px;
  max-width: 100%;
}

.mw_110 {
  width: 110px;
  max-width: 100%;
}

.h_110 {
  height: 110px;
}

.w_120 {
  width: 120px;
  max-width: 100%;
}

.mw_120 {
  width: 120px;
  max-width: 100%;
}

.h_120 {
  height: 120px;
}

.w_130 {
  width: 130px;
  max-width: 100%;
}

.mw_130 {
  width: 130px;
  max-width: 100%;
}

.h_130 {
  height: 130px;
}

.w_140 {
  width: 140px;
  max-width: 100%;
}

.mw_140 {
  width: 140px;
  max-width: 100%;
}

.h_140 {
  height: 140px;
}

.w_150 {
  width: 150px;
  max-width: 100%;
}

.mw_150 {
  width: 150px;
  max-width: 100%;
}

.h_150 {
  height: 150px;
}

.w_160 {
  width: 160px;
  max-width: 100%;
}

.mw_160 {
  width: 160px;
  max-width: 100%;
}

.h_160 {
  height: 160px;
}

.w_170 {
  width: 170px;
  max-width: 100%;
}

.mw_170 {
  width: 170px;
  max-width: 100%;
}

.h_170 {
  height: 170px;
}

.w_180 {
  width: 180px;
  max-width: 100%;
}

.mw_180 {
  width: 180px;
  max-width: 100%;
}

.h_180 {
  height: 180px;
}

.w_190 {
  width: 190px;
  max-width: 100%;
}

.mw_190 {
  width: 190px;
  max-width: 100%;
}

.h_190 {
  height: 190px;
}

.w_200 {
  width: 200px;
  max-width: 100%;
}

.mw_200 {
  width: 200px;
  max-width: 100%;
}

.h_200 {
  height: 200px;
}

.w_210 {
  width: 210px;
  max-width: 100%;
}

.mw_210 {
  width: 210px;
  max-width: 100%;
}

.h_210 {
  height: 210px;
}

.w_220 {
  width: 220px;
  max-width: 100%;
}

.mw_220 {
  width: 220px;
  max-width: 100%;
}

.h_220 {
  height: 220px;
}

.w_230 {
  width: 230px;
  max-width: 100%;
}

.mw_230 {
  width: 230px;
  max-width: 100%;
}

.h_230 {
  height: 230px;
}

.w_240 {
  width: 240px;
  max-width: 100%;
}

.mw_240 {
  width: 240px;
  max-width: 100%;
}

.h_240 {
  height: 240px;
}

.w_250 {
  width: 250px;
  max-width: 100%;
}

.mw_250 {
  width: 250px;
  max-width: 100%;
}

.h_250 {
  height: 250px;
}

.w_260 {
  width: 260px;
  max-width: 100%;
}

.mw_260 {
  width: 260px;
  max-width: 100%;
}

.h_260 {
  height: 260px;
}

.w_270 {
  width: 270px;
  max-width: 100%;
}

.mw_270 {
  width: 270px;
  max-width: 100%;
}

.h_270 {
  height: 270px;
}

.w_280 {
  width: 280px;
  max-width: 100%;
}

.mw_280 {
  width: 280px;
  max-width: 100%;
}

.h_280 {
  height: 280px;
}

.w_290 {
  width: 290px;
  max-width: 100%;
}

.mw_290 {
  width: 290px;
  max-width: 100%;
}

.h_290 {
  height: 290px;
}

.w_300 {
  width: 300px;
  max-width: 100%;
}

.mw_300 {
  width: 300px;
  max-width: 100%;
}

.h_300 {
  height: 300px;
}

.w_310 {
  width: 310px;
  max-width: 100%;
}

.mw_310 {
  width: 310px;
  max-width: 100%;
}

.h_310 {
  height: 310px;
}

.w_320 {
  width: 320px;
  max-width: 100%;
}

.mw_320 {
  width: 320px;
  max-width: 100%;
}

.h_320 {
  height: 320px;
}

.w_330 {
  width: 330px;
  max-width: 100%;
}

.mw_330 {
  width: 330px;
  max-width: 100%;
}

.h_330 {
  height: 330px;
}

.w_340 {
  width: 340px;
  max-width: 100%;
}

.mw_340 {
  width: 340px;
  max-width: 100%;
}

.h_340 {
  height: 340px;
}

.w_350 {
  width: 350px;
  max-width: 100%;
}

.mw_350 {
  width: 350px;
  max-width: 100%;
}

.h_350 {
  height: 350px;
}

.w_360 {
  width: 360px;
  max-width: 100%;
}

.mw_360 {
  width: 360px;
  max-width: 100%;
}

.h_360 {
  height: 360px;
}

.w_370 {
  width: 370px;
  max-width: 100%;
}

.mw_370 {
  width: 370px;
  max-width: 100%;
}

.h_370 {
  height: 370px;
}

.w_380 {
  width: 380px;
  max-width: 100%;
}

.mw_380 {
  width: 380px;
  max-width: 100%;
}

.h_380 {
  height: 380px;
}

.w_390 {
  width: 390px;
  max-width: 100%;
}

.mw_390 {
  width: 390px;
  max-width: 100%;
}

.h_390 {
  height: 390px;
}

.w_400 {
  width: 400px;
  max-width: 100%;
}

.mw_400 {
  width: 400px;
  max-width: 100%;
}

.h_400 {
  height: 400px;
}

.w_410 {
  width: 410px;
  max-width: 100%;
}

.mw_410 {
  width: 410px;
  max-width: 100%;
}

.h_410 {
  height: 410px;
}

.w_420 {
  width: 420px;
  max-width: 100%;
}

.mw_420 {
  width: 420px;
  max-width: 100%;
}

.h_420 {
  height: 420px;
}

.w_430 {
  width: 430px;
  max-width: 100%;
}

.mw_430 {
  width: 430px;
  max-width: 100%;
}

.h_430 {
  height: 430px;
}

.w_440 {
  width: 440px;
  max-width: 100%;
}

.mw_440 {
  width: 440px;
  max-width: 100%;
}

.h_440 {
  height: 440px;
}

.w_450 {
  width: 450px;
  max-width: 100%;
}

.mw_450 {
  width: 450px;
  max-width: 100%;
}

.h_450 {
  height: 450px;
}

.w_460 {
  width: 460px;
  max-width: 100%;
}

.mw_460 {
  width: 460px;
  max-width: 100%;
}

.h_460 {
  height: 460px;
}

.w_470 {
  width: 470px;
  max-width: 100%;
}

.mw_470 {
  width: 470px;
  max-width: 100%;
}

.h_470 {
  height: 470px;
}

.w_480 {
  width: 480px;
  max-width: 100%;
}

.mw_480 {
  width: 480px;
  max-width: 100%;
}

.h_480 {
  height: 480px;
}

.w_490 {
  width: 490px;
  max-width: 100%;
}

.mw_490 {
  width: 490px;
  max-width: 100%;
}

.h_490 {
  height: 490px;
}

.w_500 {
  width: 500px;
  max-width: 100%;
}

.mw_500 {
  width: 500px;
  max-width: 100%;
}

.h_500 {
  height: 500px;
}

.w_510 {
  width: 510px;
  max-width: 100%;
}

.mw_510 {
  width: 510px;
  max-width: 100%;
}

.h_510 {
  height: 510px;
}

.w_520 {
  width: 520px;
  max-width: 100%;
}

.mw_520 {
  width: 520px;
  max-width: 100%;
}

.h_520 {
  height: 520px;
}

.w_530 {
  width: 530px;
  max-width: 100%;
}

.mw_530 {
  width: 530px;
  max-width: 100%;
}

.h_530 {
  height: 530px;
}

.w_540 {
  width: 540px;
  max-width: 100%;
}

.mw_540 {
  width: 540px;
  max-width: 100%;
}

.h_540 {
  height: 540px;
}

.w_550 {
  width: 550px;
  max-width: 100%;
}

.mw_550 {
  width: 550px;
  max-width: 100%;
}

.h_550 {
  height: 550px;
}

.w_560 {
  width: 560px;
  max-width: 100%;
}

.mw_560 {
  width: 560px;
  max-width: 100%;
}

.h_560 {
  height: 560px;
}

.w_570 {
  width: 570px;
  max-width: 100%;
}

.mw_570 {
  width: 570px;
  max-width: 100%;
}

.h_570 {
  height: 570px;
}

.w_580 {
  width: 580px;
  max-width: 100%;
}

.mw_580 {
  width: 580px;
  max-width: 100%;
}

.h_580 {
  height: 580px;
}

.w_590 {
  width: 590px;
  max-width: 100%;
}

.mw_590 {
  width: 590px;
  max-width: 100%;
}

.h_590 {
  height: 590px;
}

.w_600 {
  width: 600px;
  max-width: 100%;
}

.mw_600 {
  width: 600px;
  max-width: 100%;
}

.h_600 {
  height: 600px;
}

.w_610 {
  width: 610px;
  max-width: 100%;
}

.mw_610 {
  width: 610px;
  max-width: 100%;
}

.h_610 {
  height: 610px;
}

.w_620 {
  width: 620px;
  max-width: 100%;
}

.mw_620 {
  width: 620px;
  max-width: 100%;
}

.h_620 {
  height: 620px;
}

.w_630 {
  width: 630px;
  max-width: 100%;
}

.mw_630 {
  width: 630px;
  max-width: 100%;
}

.h_630 {
  height: 630px;
}

.w_640 {
  width: 640px;
  max-width: 100%;
}

.mw_640 {
  width: 640px;
  max-width: 100%;
}

.h_640 {
  height: 640px;
}

.w_650 {
  width: 650px;
  max-width: 100%;
}

.mw_650 {
  width: 650px;
  max-width: 100%;
}

.h_650 {
  height: 650px;
}

.w_660 {
  width: 660px;
  max-width: 100%;
}

.mw_660 {
  width: 660px;
  max-width: 100%;
}

.h_660 {
  height: 660px;
}

.w_670 {
  width: 670px;
  max-width: 100%;
}

.mw_670 {
  width: 670px;
  max-width: 100%;
}

.h_670 {
  height: 670px;
}

.w_680 {
  width: 680px;
  max-width: 100%;
}

.mw_680 {
  width: 680px;
  max-width: 100%;
}

.h_680 {
  height: 680px;
}

.w_690 {
  width: 690px;
  max-width: 100%;
}

.mw_690 {
  width: 690px;
  max-width: 100%;
}

.h_690 {
  height: 690px;
}

.w_700 {
  width: 700px;
  max-width: 100%;
}

.mw_700 {
  width: 700px;
  max-width: 100%;
}

.h_700 {
  height: 700px;
}

.w_710 {
  width: 710px;
  max-width: 100%;
}

.mw_710 {
  width: 710px;
  max-width: 100%;
}

.h_710 {
  height: 710px;
}

.w_720 {
  width: 720px;
  max-width: 100%;
}

.mw_720 {
  width: 720px;
  max-width: 100%;
}

.h_720 {
  height: 720px;
}

.w_730 {
  width: 730px;
  max-width: 100%;
}

.mw_730 {
  width: 730px;
  max-width: 100%;
}

.h_730 {
  height: 730px;
}

.w_740 {
  width: 740px;
  max-width: 100%;
}

.mw_740 {
  width: 740px;
  max-width: 100%;
}

.h_740 {
  height: 740px;
}

.w_750 {
  width: 750px;
  max-width: 100%;
}

.mw_750 {
  width: 750px;
  max-width: 100%;
}

.h_750 {
  height: 750px;
}

.w_760 {
  width: 760px;
  max-width: 100%;
}

.mw_760 {
  width: 760px;
  max-width: 100%;
}

.h_760 {
  height: 760px;
}

.w_770 {
  width: 770px;
  max-width: 100%;
}

.mw_770 {
  width: 770px;
  max-width: 100%;
}

.h_770 {
  height: 770px;
}

.w_780 {
  width: 780px;
  max-width: 100%;
}

.mw_780 {
  width: 780px;
  max-width: 100%;
}

.h_780 {
  height: 780px;
}

.w_790 {
  width: 790px;
  max-width: 100%;
}

.mw_790 {
  width: 790px;
  max-width: 100%;
}

.h_790 {
  height: 790px;
}

.w_800 {
  width: 800px;
  max-width: 100%;
}

.mw_800 {
  width: 800px;
  max-width: 100%;
}

.h_800 {
  height: 800px;
}

.w_810 {
  width: 810px;
  max-width: 100%;
}

.mw_810 {
  width: 810px;
  max-width: 100%;
}

.h_810 {
  height: 810px;
}

.w_820 {
  width: 820px;
  max-width: 100%;
}

.mw_820 {
  width: 820px;
  max-width: 100%;
}

.h_820 {
  height: 820px;
}

.w_830 {
  width: 830px;
  max-width: 100%;
}

.mw_830 {
  width: 830px;
  max-width: 100%;
}

.h_830 {
  height: 830px;
}

.w_840 {
  width: 840px;
  max-width: 100%;
}

.mw_840 {
  width: 840px;
  max-width: 100%;
}

.h_840 {
  height: 840px;
}

.w_850 {
  width: 850px;
  max-width: 100%;
}

.mw_850 {
  width: 850px;
  max-width: 100%;
}

.h_850 {
  height: 850px;
}

.w_860 {
  width: 860px;
  max-width: 100%;
}

.mw_860 {
  width: 860px;
  max-width: 100%;
}

.h_860 {
  height: 860px;
}

.w_870 {
  width: 870px;
  max-width: 100%;
}

.mw_870 {
  width: 870px;
  max-width: 100%;
}

.h_870 {
  height: 870px;
}

.w_880 {
  width: 880px;
  max-width: 100%;
}

.mw_880 {
  width: 880px;
  max-width: 100%;
}

.h_880 {
  height: 880px;
}

.w_890 {
  width: 890px;
  max-width: 100%;
}

.mw_890 {
  width: 890px;
  max-width: 100%;
}

.h_890 {
  height: 890px;
}

.w_900 {
  width: 900px;
  max-width: 100%;
}

.mw_900 {
  width: 900px;
  max-width: 100%;
}

.h_900 {
  height: 900px;
}

.w_910 {
  width: 910px;
  max-width: 100%;
}

.mw_910 {
  width: 910px;
  max-width: 100%;
}

.h_910 {
  height: 910px;
}

.w_920 {
  width: 920px;
  max-width: 100%;
}

.mw_920 {
  width: 920px;
  max-width: 100%;
}

.h_920 {
  height: 920px;
}

.w_930 {
  width: 930px;
  max-width: 100%;
}

.mw_930 {
  width: 930px;
  max-width: 100%;
}

.h_930 {
  height: 930px;
}

.w_940 {
  width: 940px;
  max-width: 100%;
}

.mw_940 {
  width: 940px;
  max-width: 100%;
}

.h_940 {
  height: 940px;
}

.w_950 {
  width: 950px;
  max-width: 100%;
}

.mw_950 {
  width: 950px;
  max-width: 100%;
}

.h_950 {
  height: 950px;
}

.w_960 {
  width: 960px;
  max-width: 100%;
}

.mw_960 {
  width: 960px;
  max-width: 100%;
}

.h_960 {
  height: 960px;
}

.w_970 {
  width: 970px;
  max-width: 100%;
}

.mw_970 {
  width: 970px;
  max-width: 100%;
}

.h_970 {
  height: 970px;
}

.w_980 {
  width: 980px;
  max-width: 100%;
}

.mw_980 {
  width: 980px;
  max-width: 100%;
}

.h_980 {
  height: 980px;
}

.w_990 {
  width: 990px;
  max-width: 100%;
}

.mw_990 {
  width: 990px;
  max-width: 100%;
}

.h_990 {
  height: 990px;
}

.w_1000 {
  width: 1000px;
  max-width: 100%;
}

.mw_1000 {
  width: 1000px;
  max-width: 100%;
}

.h_1000 {
  height: 1000px;
}

.col_1 {
  gap: 20px 12px;
}
.col_1 .col_item {
  width: calc(100% - 0px);
}

.col_2 {
  gap: 20px 12px;
}
.col_2 .col_item {
  width: calc(50% - 6px);
}

.col_3 {
  gap: 20px 12px;
}
.col_3 .col_item {
  width: calc(33.3333333333% - 8px);
}

.col_4 {
  gap: 20px 12px;
}
.col_4 .col_item {
  width: calc(25% - 9px);
}

.col_5 {
  gap: 20px 12px;
}
.col_5 .col_item {
  width: calc(20% - 9.6px);
}

.col_6 {
  gap: 20px 12px;
}
.col_6 .col_item {
  width: calc(16.6666666667% - 10px);
}

.col_7 {
  gap: 20px 12px;
}
.col_7 .col_item {
  width: calc(14.2857142857% - 10.2857142857px);
}

.col_8 {
  gap: 20px 12px;
}
.col_8 .col_item {
  width: calc(12.5% - 10.5px);
}

.col_9 {
  gap: 20px 12px;
}
.col_9 .col_item {
  width: calc(11.1111111111% - 10.6666666667px);
}

.col_10 {
  gap: 20px 12px;
}
.col_10 .col_item {
  width: calc(10% - 10.8px);
}

.d_flex {
  display: flex;
}
.d_flex._gap1 {
  gap: 1px;
}
.d_flex._gapX1 {
  -moz-column-gap: 1px;
       column-gap: 1px;
}
.d_flex._gapY1 {
  row-gap: 1px;
}
.d_flex._gap2 {
  gap: 2px;
}
.d_flex._gapX2 {
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.d_flex._gapY2 {
  row-gap: 2px;
}
.d_flex._gap3 {
  gap: 3px;
}
.d_flex._gapX3 {
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.d_flex._gapY3 {
  row-gap: 3px;
}
.d_flex._gap4 {
  gap: 4px;
}
.d_flex._gapX4 {
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.d_flex._gapY4 {
  row-gap: 4px;
}
.d_flex._gap5 {
  gap: 5px;
}
.d_flex._gapX5 {
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.d_flex._gapY5 {
  row-gap: 5px;
}
.d_flex._gap6 {
  gap: 6px;
}
.d_flex._gapX6 {
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.d_flex._gapY6 {
  row-gap: 6px;
}
.d_flex._gap7 {
  gap: 7px;
}
.d_flex._gapX7 {
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.d_flex._gapY7 {
  row-gap: 7px;
}
.d_flex._gap8 {
  gap: 8px;
}
.d_flex._gapX8 {
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.d_flex._gapY8 {
  row-gap: 8px;
}
.d_flex._gap9 {
  gap: 9px;
}
.d_flex._gapX9 {
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.d_flex._gapY9 {
  row-gap: 9px;
}
.d_flex._gap10 {
  gap: 10px;
}
.d_flex._gapX10 {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.d_flex._gapY10 {
  row-gap: 10px;
}
.d_flex._gap11 {
  gap: 11px;
}
.d_flex._gapX11 {
  -moz-column-gap: 11px;
       column-gap: 11px;
}
.d_flex._gapY11 {
  row-gap: 11px;
}
.d_flex._gap12 {
  gap: 12px;
}
.d_flex._gapX12 {
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.d_flex._gapY12 {
  row-gap: 12px;
}
.d_flex._gap13 {
  gap: 13px;
}
.d_flex._gapX13 {
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.d_flex._gapY13 {
  row-gap: 13px;
}
.d_flex._gap14 {
  gap: 14px;
}
.d_flex._gapX14 {
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.d_flex._gapY14 {
  row-gap: 14px;
}
.d_flex._gap15 {
  gap: 15px;
}
.d_flex._gapX15 {
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.d_flex._gapY15 {
  row-gap: 15px;
}
.d_flex._gap16 {
  gap: 16px;
}
.d_flex._gapX16 {
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.d_flex._gapY16 {
  row-gap: 16px;
}
.d_flex._gap17 {
  gap: 17px;
}
.d_flex._gapX17 {
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.d_flex._gapY17 {
  row-gap: 17px;
}
.d_flex._gap18 {
  gap: 18px;
}
.d_flex._gapX18 {
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.d_flex._gapY18 {
  row-gap: 18px;
}
.d_flex._gap19 {
  gap: 19px;
}
.d_flex._gapX19 {
  -moz-column-gap: 19px;
       column-gap: 19px;
}
.d_flex._gapY19 {
  row-gap: 19px;
}
.d_flex._gap20 {
  gap: 20px;
}
.d_flex._gapX20 {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.d_flex._gapY20 {
  row-gap: 20px;
}
.d_flex._gap21 {
  gap: 21px;
}
.d_flex._gapX21 {
  -moz-column-gap: 21px;
       column-gap: 21px;
}
.d_flex._gapY21 {
  row-gap: 21px;
}
.d_flex._gap22 {
  gap: 22px;
}
.d_flex._gapX22 {
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.d_flex._gapY22 {
  row-gap: 22px;
}
.d_flex._gap23 {
  gap: 23px;
}
.d_flex._gapX23 {
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.d_flex._gapY23 {
  row-gap: 23px;
}
.d_flex._gap24 {
  gap: 24px;
}
.d_flex._gapX24 {
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.d_flex._gapY24 {
  row-gap: 24px;
}
.d_flex._gap25 {
  gap: 25px;
}
.d_flex._gapX25 {
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.d_flex._gapY25 {
  row-gap: 25px;
}
.d_flex._gap26 {
  gap: 26px;
}
.d_flex._gapX26 {
  -moz-column-gap: 26px;
       column-gap: 26px;
}
.d_flex._gapY26 {
  row-gap: 26px;
}
.d_flex._gap27 {
  gap: 27px;
}
.d_flex._gapX27 {
  -moz-column-gap: 27px;
       column-gap: 27px;
}
.d_flex._gapY27 {
  row-gap: 27px;
}
.d_flex._gap28 {
  gap: 28px;
}
.d_flex._gapX28 {
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.d_flex._gapY28 {
  row-gap: 28px;
}
.d_flex._gap29 {
  gap: 29px;
}
.d_flex._gapX29 {
  -moz-column-gap: 29px;
       column-gap: 29px;
}
.d_flex._gapY29 {
  row-gap: 29px;
}
.d_flex._gap30 {
  gap: 30px;
}
.d_flex._gapX30 {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.d_flex._gapY30 {
  row-gap: 30px;
}
.d_flex.fw_w {
  flex-wrap: wrap;
}
.d_flex.ai_t {
  align-items: flex-start;
}
.d_flex.ai_c {
  align-items: center;
}
.d_flex.ai_b {
  align-items: flex-end;
}
.d_flex.jc_l {
  justify-content: flex-start;
}
.d_flex.jc_c {
  justify-content: center;
}
.d_flex.jc_sa {
  justify-content: space-around;
}
.d_flex.jc_sb {
  justify-content: space-between;
}
.d_flex.jc_fe {
  justify-content: flex-end;
}
.d_flex .flex1 {
  flex: 1;
}
.d_flex .shrink0 {
  flex-shrink: 0;
}
.d_flex .self_top {
  align-self: flex-start;
}
.d_flex .self_c {
  align-self: center;
}
.d_flex .self_bot {
  align-self: flex-end;
}
.d_flex.ty_col {
  flex-direction: column;
}

.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.taL {
  text-align: left;
}

.taC {
  text-align: center;
}

.taR {
  text-align: right;
}

.fwB {
  font-weight: bold;
}

.fwM {
  font-weight: 500;
}

.no_select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
  filter: alpha(opacity=7);
  box-shadow: none;
}

.w100 {
  width: 100%;
}

.posR {
  position: relative;
}

/* noto-sans-kr-100 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/noto-sans-kr-v27-korean_latin-100.woff2") format("woff2"), url("../fonts/noto-sans-kr-v27-korean_latin-100.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-300 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/noto-sans-kr-v27-korean_latin-300.woff2") format("woff2"), url("../fonts/noto-sans-kr-v27-korean_latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-regular - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-kr-v27-korean_latin-regular.woff2") format("woff2"), url("../fonts/noto-sans-kr-v27-korean_latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-500 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto-sans-kr-v27-korean_latin-500.woff2") format("woff2"), url("../fonts/noto-sans-kr-v27-korean_latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-700 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans-kr-v27-korean_latin-700.woff2") format("woff2"), url("../fonts/noto-sans-kr-v27-korean_latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-900 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/noto-sans-kr-v27-korean_latin-900.woff2") format("woff2"), url("../fonts/noto-sans-kr-v27-korean_latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v30-latin-100.woff2") format("woff2"), url("../fonts/roboto-v30-latin-100.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-200 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/noto-serif-kr-v20-korean_latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-kr-300 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/noto-serif-kr-v20-korean_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-kr-regular - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-serif-kr-v20-korean_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-kr-500 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto-serif-kr-v20-korean_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-kr-600 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/noto-serif-kr-v20-korean_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-kr-700 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-serif-kr-v20-korean_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-kr-900 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/noto-serif-kr-v20-korean_latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff;
  color: #222;
  letter-spacing: -0.01em;
  margin: auto;
  height: 100%;
  max-width: 800px;
  overflow: hidden scroll;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

/* 테이블 스타일 초기화 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

td {
  word-wrap: break-word;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend,
caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

address,
caption,
em,
var {
  font-style: normal;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

/* 링크 */
a {
  color: inherit;
  text-decoration: none;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

/* 이미지, 폼관련 요소 */
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

select,
input,
textarea {
  vertical-align: middle;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  border: 0;
  background: #fff;
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
}

input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Select box 스타일 초기화 */
select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/common/arrow_select_box.svg);
  background-position: calc(100% - 0.5em) center;
  background-repeat: no-repeat;
  background-size: 0.8em;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

input[type=password] {
  -webkit-text-security: disc;
  font-family: "large Verdana", "Verdana", sans-serif;
  letter-spacing: 1px;
}
input[type=password]::-moz-placeholder {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0;
}
input[type=password]::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0;
}

input[type=radio],
input[type=checkbox] {
  display: inline-block;
  vertical-align: middle;
  width: 1.3em;
  height: 1.3em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=search]:focus,
textarea:focus {
  border-color: #81D8CF;
  background-color: #fff;
  outline: none;
}

*::-moz-placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.4);
}

*::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.4);
}

textarea {
  overflow: auto;
  padding: 22px;
  resize: none;
  font-size: 14px;
  border: 1px solid #DDDDDD;
}

button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
button:disabled {
  cursor: default;
}

/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

::-moz-selection {
  background: #81D8CF;
  color: #fff;
}

::selection {
  background: #81D8CF;
  color: #fff;
}

/* skip_nav */
#skip_nav {
  width: 100%;
  height: 0;
  text-align: center;
  overflow: hidden;
}

#skip_nav a {
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 800;
  float: left;
}

#skip_nav a:focus,
#skip_nav a:hover,
#skip_nav a:active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  text-decoration: underline;
  background-color: #000;
  overflow: visible;
  z-index: 9999;
}

/* blind */
.blind {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.no_drag {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* layout */
html {
  background-color: #cff0ed;
}

#wrap {
  background-color: #fff;
}

.wcSec_1 {
  position: relative;
  min-height: 100dvh;
  background-image: url(../images/img1.JPG);
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: 40px;
}
.wcSec_1_img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 800px) {
  .wcSec_1 {
    font-size: 5vw;
  }
}
.wcSec_1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: inset 0 6em 8em rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.wcSec_1 .txt_wrap {
  position: relative;
  flex: 1;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #89fef2;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px) {
  .wcSec_1 .txt_wrap {
    padding: 1em;
  }
}
.wcSec_1 .txt_wrap .txt_parents {
  font-size: 0.7em;
  font-weight: 500;
}
.wcSec_1 .txt_wrap .txt_name {
  font-size: 1.7em;
  font-weight: bold;
}
.wcSec_1 .txt_wrap .e_name {
  display: inline-block;
  writing-mode: vertical-rl;
  line-height: 1;
  margin-top: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Roboto";
}
.wcSec_1 .txt_wrap .txt_tit {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.4em;
  width: 100%;
  text-align: center;
  transform: translateY(-8em);
  position: relative;
}
.wcSec_1 .txt_wrap .txt_tit_inner {
  width: 24%;
  position: relative;
  margin: 0 auto;
}
.wcSec_1 .txt_wrap .txt_tit img {
  width: 100%;
}
.wcSec_1 .txt_wrap .txt_tit .txt {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding-bottom: 0.2em;
  box-sizing: border-box;
}
.wcSec_1 .txt_wrap .txt_bot {
  text-align: center;
  padding-bottom: 0.4em;
}
.wcSec_1 .txt_wrap .txt_bot .txt_date, .wcSec_1 .txt_wrap .txt_bot .txt_loc {
  font-size: 1em;
  font-family: "Noto Serif KR";
}

.wcSec_2 {
  font-size: 40px;
  padding: 3em 1em;
  color: #000;
  text-align: center;
}
.wcSec_2_txt1 {
  font-family: "Noto Serif KR";
}
@media (max-width: 800px) {
  .wcSec_2 {
    font-size: 5vw;
  }
}